
<div class="layout-topbar">
    <div class="layout-topbar-start">
<!--        <a class="layout-topbar-logo"  href="https://agitex.fr" target="_blank">
            <img id="app-logo"  src="assets/logo/agitex.png" alt="Logo de Agitex" style="height: 4rem; width: 7rem; ">
        </a>-->
        <a #menuButton class="layout-menu-button" (click)="onMenuButtonClick()" pRipple>
            <i class="pi pi-chevron-right"></i>
        </a>

        <a #mobileMenuButton class="layout-topbar-mobile-button" (click)="onMobileTopbarMenuButtonClick()" pRipple>
            <i class="pi pi-ellipsis-v"></i>
        </a>
    </div>

    <div class="layout-topbar-end">
        <div class="layout-topbar-actions-start">
            <p-megaMenu [model]="model" styleClass="layout-megamenu"></p-megaMenu>
        </div>
        <div class="layout-topbar-actions-end">
            <ul class="layout-topbar-items">
                <div class="layout-topbar-center" >
                    <p style="font-size: 20px; margin:0;">Bienvenue sur le Systeme de Gestion des mutuelles de santé</p>
                </div>
                <li class="layout-topbar-search">
                    <a pStyleClass="@next" enterClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true" pRipple (click)="focusSearchInput()">
                        <i class="pi pi-search"></i>
                    </a>

                    <div class="layout-search-panel ng-hidden p-input-filled">
                        <i class="pi pi-search"></i>
                        <input #searchInput type="text" pInputText placeholder="Search">
                        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-text p-button-plain" pStyleClass=".layout-search-panel" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout"></button>
                    </div>

                </li>


                <li>

                </li>
                <li>
                    <a pStyleClass="@next" enterClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true" pRipple>
                        <img src="http://www.lifepluse.com/Images/profile.png" alt="avatar" class="w-2rem h-2rem">
                    </a>


                </li>
                <div>
                    <p style="font-size: 20px; margin-left: 1px;" >Admin</p>
                </div>
            </ul>
        </div>
    </div>
</div>
