<div class="h-screen flex w-full surface-ground">
    <div class="flex flex-1 flex-column surface-ground  align-items-center justify-content-center">
        <div class="w-11 sm:w-30rem">
            <div class="flex flex-column">
                <div style="height:56px; width:56px"
                    class="bg-primary-50 border-circle flex align-items-center justify-content-center">
                    <i class="pi pi-sign-in text-primary text-4xl"></i>
                </div>
                <div class="mt-4">
                    <h1 class="m-0 text-primary font-semibold text-4xl">
                        Welcome back!
                    </h1>
                    <span class="block text-700 mt-2">Please fill the fields to sign-up Ultima network</span>
                </div>
            </div>
            <div class="flex flex-column gap-3 mt-6">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" pInputText placeholder="Email">
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                    <input type="password" pInputText placeholder="Password">
                </div>
                <div>
                    <button pButton pRipple class="w-full" label="LOGIN" [routerLink]="['/']"></button>
                </div>
                <div>
                    <button pButton pRipple class="w-full p-button-text text-primary-500" label="FORGOT PASSWORD?"></button>
                </div>
            </div>
        </div>
    </div>
    <div [style.background]="'url(assets/layout/images/pages/accessDenied-bg.jpg)'"
        class="hidden lg:flex flex-1 align-items-center justify-content-center bg-cover">
        <img src="assets/layout/images/vector_logo.png" alt="">
    </div>
</div>

<app-config [minimal]="true"></app-config>